# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib
6. SciPy

In this notebook,you will:

**Objectives:**

- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub
- Demonstrate arithmetic expression examples in Python
- Convert time units from minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Arithmetic Expression Examples

Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

HAMRANI Amziane